<h1 class="underline text-3xl font-bold mb-6">About Me</h1>
<div>
  <img src="https://i.imgur.com/tBZkUq2.jpg" class="w-1/2" />
  <section>
    <h2 class="font-bold">Self-taught baker</h2>
    <div>
      Hi!!!! I'm Yuki from Japan.<br />
      I started to learn baking at a casual cooking school in 2019 after I found
      myself I sometimes failed and sometimes succeeded to bake bread. Also it's
      difficult to buy my favorite bread like bagels, baguette etc near my house
      so "why don't I bake bagels by myself?!"<br />
      This is the start of my journey.<br />
    </div>
  </section>
</div>
<!-- <p>located in <%= location %></p> -->
